
.login{
	float: right;
	margin-bottom: 10px;
}
.caja{
	width: 40%;
	height: 40px;
	margin: 0 auto;
	border: 2px solid green;
	margin-bottom: 10px;
}
.recordar{
	overflow: hidden;
	margin-bottom: 10px;
}
.input{
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	margin-bottom: 10px;

}
.checkbox{
	width: 30%;
	margin: 0 auto;
	height: 30px;
	margin-bottom: 10px;
}
.boton{
	background-color: #4CAF50;
font-size: 20px;
border: none;
padding: 20px;
color: white;
text-align: center;
text-decoration: none;
display: inline-block;
margin: 4px 2px;
border-radius: 5px;
margin-bottom: 10px;
}
#recordarlo{
	font-size: 20px;
}
.recordar{
	width: 40%;
margin-left: 30%;
margin-right: 30%
}
.todo{
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
.h2R{
	color: red;
	font-size: 15px;
}
.input_texto{
	width: 500px;
	height: 50px;
	border: 2px solid green;
}
select{
	width: 500px;
	height: 50px;
}
.seleccion{
	width: 30px;
	height: 30px;
}
.genero{
	font-size: 20px;
}
.button{
	float: left;
	background-color: #4CAF50;
font-size: 20px;
border: none;
padding: 20px;
color: white;
text-align: center;
text-decoration: none;
display: inline-block;
margin: 4px 2px;
border-radius: 5px;
}

h4 {
	width: 98%;
	padding: 10px;
padding-top: 0px;
margin-left: 10px;
margin-top: 0px;
 color: #111;
 font-family: 'Open Sans', sans-serif;
 font-size: 40px;
 font-weight: 300;
 line-height: 32px;
 text-align: center;
margin-bottom: 10px;}

.h1RL {
margin: 0 auto;
font-size: 60px;
width: 100%;
color: #111;
font-family: 'Helvetica Neue', sans-serif;
font-weight: bold;
letter-spacing: -1px;
 line-height: 1;
	margin-top: 10px;
	text-align: center;
	margin-bottom: 10px;
}
.login{
 float: right;
}
h5{
 color: red;
 font-size: 15px;
}
h6{
 font-size: 25px;
 color: black;
}

select{
 width: 500px;
 height: 50px;
}
.seleccion{
 width: 30px;
 height: 30px;
}
.genero{
 font-size: 20px;
}
.Data{
	margin: 0 auto;
	width: 100%;
	text-align: center;
}
.input{
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
	margin-bottom: 10px;

}
